* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.canvas-container {
  position: relative;
}

.btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.btn--up {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: -70px;
  left: 35px;
}

.btn--down {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: -10px;
  left: 35px;
}

.btn--left {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: -40px;
  left: -10px;
}

.btn--right {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: -40px;
  left: 70px;
}
